<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/img/weather.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
  <title>Weather</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <div class="weatherIcon">
      <img src="/img/weather_main.png" alt="">
    </div>
    <form action="">
      <input type="text" placeholder="Enter a location">
      <button type="submit">Search</button>
    </form>
    <p id='message-1'></p>
    <p id='message-2'></p>
    <p id='message-3'></p>
    <p id='message-4'></p>
  </div>
  {{>footer}}

  <script src="/js/app.js"></script>
</body>

</html>