body{
  color: #333;
  font-family: 'Roboto Condensed', sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  flex-grow: 1;
}

footer {
  color: #888;
  border-top: 1px solid #ccc;
  margin-top: 16px;
  padding: 16px 0;
  text-align: right;
}

header {
  margin-top: 16px;
  margin-bottom: 28px;
  text-align: center;
}

header div{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 16px;
}

header a {
  color: orange;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 16px;
  text-decoration: none;
}

header a:hover{
  color: orangered;
}

.portrait{
  width: 250px;
}

input{
  border: 1px solid #ccc;
  padding: 8px
}

button{ 
  cursor: pointer;
  border: 1px solid #888;
  background: #888;
  color: #fff;
  padding:8px;
}

form{
  text-align: center;
  margin-bottom: 30px;
}

.weatherIcon{
  text-align: center;
}

.weatherIcon img{
  width: 100px;
}

#message-2, #message-3, #message-4 {
  font-weight: bold;
  letter-spacing: 1px;
}

#message-1{
  text-align: center;
  color: red;
  font-weight: bold;
  letter-spacing: 1px;
}